/* Google Fonts: Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --color-primary: #b9005b;
  --color-secondary: #00d7ff;
  --color-extra: #90c8ac;
  --color-white: #fff;
  --color-gray: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-primary);
}
.wrapper {
  min-width: 550px;
  background: var(--color-white);
  border-radius: 10px;
}
.wrapper h1 {
  font-size: 25px;
  font-weight: 500;
  padding: 20px 25px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
}
.wrapper .content {
  margin: 25px 25px 35px;
}
.content .typing-input {
  z-index: -999;
  position: absolute;
  opacity: 0;
}
.content .inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.inputs input {
  height: 56px;
  width: 56px;
  margin: 4px;
  border-radius: 5px;
  border: 1px solid var(--color-gray);
  background: none;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: var(--color-primary);
  text-transform: uppercase;
}
.inputs input:first-child {
  margin-left: 0;
}
.content .details {
  margin: 25px 0 35px;
}
.details p {
  font-size: 19px;
  margin-bottom: 10px;
}
.content .reset-btn {
  width: 100%;
  font-size: 17px;
  padding: 15px 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-white);
}
